# Group 17 Proposal (Weekend Airbnb in Paris)

## Inrtoduction

Airbnbs have specific attributes (room type, cleanliness rating, superhost status etc.) that determine its price and perceived quality. The quality of a Airbnbs often evaluated by users through a online/digital rating system. Attributes of Parisian Airbnbs have been determined and collected into a data set that is available on kaggle. It can be used to analyze trends in Airbnb prices and popularity across different cities and neighborhoods, as well as to identify factors that may influence prices and demand. The data set includes 19 variables in each respective column, with each row documenting an Airbnb's price. 

The following are the potential predictor variables including their description: 

| Column name | Description |
| --- | --- |
| realSum | The total price of the Airbnb listing. (Numeric) |
| room_type | The type of room being offered (e.g. private, shared, etc.). (Categorical) |
| room_shared | Whether the room is shared or not. (Boolean) |
| room_private | Whether the room is private or not. (Boolean) |
| person_capacity | The maximum number of people that can stay in the room. (Numeric) |
| host_is_superhost | Whether the host is a superhost or not. (Boolean) |
| multi | Whether the listing is for multiple rooms or not. (Boolean) |
| biz | Whether the listing is for business purposes or not. (Boolean) |
| cleanliness_rating | The cleanliness rating of the listing. (Numeric) |
| guest_satisfaction_overall | The overall guest satisfaction rating of the listing. (Numeric) |
| bedrooms | The number of bedrooms in the listing. (Numeric) |
| dist | The distance from the city centre. (Numeric) |
| metro_dist | The distance from the nearest metro station. (Numeric) |
| lng | The longitude of the listing. (Numeric) |
| lat | The latitude of the listing. (Numeric) |

This project will take that data and attempt to answer the question: What factors affect Airbnb Prices in Paris on Weekends?

In [42]:
#load the necessary packages
library(tidyverse)
library(repr)
library(tidymodels)
library(gridExtra)
options(repr.matrix.max.rows = 6)

## Preliminary exploratory data analysis

In [56]:
# read data frame from kaggle 
paris_data_link <- "https://www.kaggle.com/datasets/thedevastator/airbnb-prices-in-european-cities?select=paris_weekends.csv"
# use ';' delimiter
paris_data <- read_csv(paris_data_link, sep = ",")

paris_data

ERROR: Error in read_csv(paris_data_link, sep = ","): unused argument (sep = ",")

In [44]:
#filter the needed columns
new_paris_data <- paris_data |>
  select(realSum, cleanliness_rating, guest_satisfaction_overall, dist, metro_dist, 
        room_type, host_is_superhost)
new_paris_data

     realSum  cleanliness_rating guest_satisfaction_overall dist
1    536.3967  9                  89                        1.3512012
2    290.1016 10                  97                        0.6998212
3    445.7545 10                 100                        0.9689817
⋮    ⋮        ⋮                  ⋮                          ⋮
3556 223.9258  9                 89                         4.205205
3557 200.8575  9                 93                         2.891214
3558 301.2862 10                 92                         3.469749
     metro_dist room_type       host_is_superhost
1    0.2123455  Entire home/apt FALSE
2    0.1937103  Private room     TRUE
3    0.2943429  Entire home/apt FALSE
⋮    ⋮          ⋮               ⋮
3556 0.2530289  Entire home/apt FALSE
3557 0.2406744  Entire home/apt  TRUE
3558 0.5085167  Entire home/apt FALSE

In [45]:
#set the seed
set.seed(8888)

In [46]:
#splitting the data
paris_split <- initial_split(new_paris_data, prop = 0.75, strata = realSum) 
paris_train <- training(paris_split)
paris_test <- testing(paris_split)

In [47]:
#Cleanliness_rating
paris_proportions1 <- paris_train |>
group_by(cleanliness_rating) |>
summarize(n = n())  #used to count the number of observations in a given group
paris_proportions1

#guest_satisfaction_overall
paris_proportions2 <- paris_train |>
group_by(guest_satisfaction_overall) |>
summarize(n = n())
paris_proportions2

#dist
paris_proportions3 <- paris_train |>
group_by(dist) |>
summarize(n = n()) 
paris_proportions3

#metro_dist
paris_proportions4 <- paris_train |>
group_by(metro_dist) |>
summarize(n = n()) 
paris_proportions4

#room_type
paris_proportions5 <- paris_train |>
group_by(room_type) |>
summarize(n = n()) 
paris_proportions5

#host_is_superhost
paris_proportions6 <- paris_train |>
group_by(host_is_superhost) |>
summarize(n = n()) 
paris_proportions6

  cleanliness_rating n
1 2                  3
2 4                  7
3 5                  2
⋮ ⋮                  ⋮
6  8                  272
7  9                  947
8 10                 1334

   guest_satisfaction_overall n
1  20                         4
2  40                         5
3  50                         4
⋮  ⋮                          ⋮
40  98                        138
41  99                         70
42 100                        584

     dist      n
1    0.1395432 1
2    0.1470952 1
3    0.1714837 1
⋮    ⋮         ⋮
2665 7.620912  1
2666 7.680000  1
2667 7.703733  1

     metro_dist  n
1    0.003220008 1
2    0.003935058 1
3    0.006388847 1
⋮    ⋮           ⋮
2665 0.9102045   1
2666 0.9689053   1
2667 1.0458365   1

  room_type       n
1 Entire home/apt 2065
2 Private room     568
3 Shared room       34

  host_is_superhost n
1 FALSE             2290
2  TRUE              377