# What factors affect Airbnb Prices in Paris on Weekends?

## Inrtoduction 

Airbnbs have specific attributes (room type, cleanliness rating, superhost status etc.) that determine its price and perceived quality. The quality of a Airbnbs often evaluated by users through a online/digital rating system. Attributes of Parisian Airbnbs have been determined and collected into a data set that is available on kaggle. It can be used to analyze trends in Airbnb prices and popularity across different cities and neighborhoods, as well as to identify factors that may influence prices and demand. The data set includes 19 variables in each respective column, with each row documenting an Airbnb's price. 

For details of data set, reference it [here](https://www.kaggle.com/datasets/thedevastator/airbnb-prices-in-european-cities?select=paris_weekends.csv ).

The following are the potential predictor variables including their description: 

| Variable | Description | Type |
| --- | --- | --- |
| realSum | The total price of the Airbnb listing. | Numeric |
| room_type | The type of room being offered (e.g. private, shared, etc.). | Categorical |
| room_shared | Whether the room is shared or not. | Boolean |
| room_private | Whether the room is private or not. | Boolean |
| person_capacity | The maximum number of people that can stay in the room. | Numeric |
| host_is_superhost | Whether the host is a superhost or not. | Boolean |
| multi | Whether the listing is for multiple rooms or not. | Boolean |
| biz | Whether the listing is for business purposes or not. | Boolean |
| cleanliness_rating | The cleanliness rating of the listing. | Numeric |
| guest_satisfaction_overall | The overall guest satisfaction rating of the listing. | Numeric |
| bedrooms | The number of bedrooms in the listing. | Numeric |
| dist | The distance from the city centre. | Numeric |
| metro_dist | The distance from the nearest metro station. | Numeric |
| lng | The longitude of the listing. | Numeric |
| lat | The latitude of the listing. | Numeric |

This project will take this data and attempt to answer the question: *What factors affect Airbnb Prices in Paris on Weekends?*

## Preliminary exploratory data analysis

##### The preliminary exploratory data analysis will include:
- Reading dataset from web link
- Cleaning and wrangling data into a tidy format
- Splitting into training data and test data
- Statistics of training subset
- Visualizing training data comparing distributions of predictor variables

In [7]:
#load the necessary libraries
library(repr)
library(tidyverse)
library(tidymodels)
library(GGally)
library(gridExtra)
options(repr.matrix.max.rows = 6)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.0     ✔ rsample      1.0.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.2     ✔ workflows    1.0.0
✔ modeldata    1.0.0     ✔ workflowsets 1.0.0
✔ parsnip      1.0.0     ✔ yardstick    1.0.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2


Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine

#### Reading from web link
Read the data frame from our GitHub repository

In [51]:
# Source: https://www.kaggle.com/datasets/thedevastator/airbnb-prices-in-european-cities?select=paris_weekends.csv

# This code reads the "paris_weekends.csv" file from our GitHub repository and stores it in a data frame called "paris_data_weekends".
paris_data_url <- "https://raw.githubusercontent.com/kairavv/dsci-100-2022w2-group-17/728ea69b13f24e3d7056c5b072d33309ea0a85de/data/paris_weekends.csv"
paris_data <- read.csv(paris_data_url)

# It then displays the data
paris_data 

# <<does 3557 seem too low? should we add weekdays too?>>

     X    realSum  room_type       room_shared room_private person_capacity
1    0    536.3967 Entire home/apt False       False        5
2    1    290.1016 Private room    False       True         2
3    2    445.7545 Entire home/apt False       False        4
⋮    ⋮    ⋮        ⋮               ⋮           ⋮            ⋮
3556 3555 223.9258 Entire home/apt False       False        2
3557 3556 200.8575 Entire home/apt False       False        2
3558 3557 301.2862 Entire home/apt False       False        2
     host_is_superhost multi biz cleanliness_rating guest_satisfaction_overall
1    False             0     1    9                  89
2    True              0     0   10                  97
3    False             0     1   10                 100
⋮    ⋮                 ⋮     ⋮   ⋮                  ⋮
3556 False             1     0    9                 89
3557 True              0     0    9                 93
3558 False             0     0   10                 92
     bedrooms dist      metro_dist attr_index attr_index_norm rest_index
1    1        1.3512012 0.2123455  390.7768   19.00155        1030.739
2    1        0.6998212 0.1937103  518.4783   25.21104        1218.659
3    1        0.9689817 0.2943429  432.6899   21.03958        1069.895
⋮    ⋮        ⋮         ⋮          ⋮          ⋮               ⋮
3556 1        4.205205  0.2530289  172.6589    8.395552       406.5859
3557 1        2.891214  0.2406744  235.1679   11.435057       602.4517
3558 1        3.469749  0.5085167  200.6376    9.756019       478.9904
     rest_index_norm lng     lat
1    47.55037        2.35900 48.86800
2    56.21958        2.35385 48.86282
3    49.35674        2.36023 48.86375
⋮    ⋮               ⋮       ⋮
3556 18.75676        2.40100 48.87700
3557 27.79250        2.38200 48.87400
3558 22.09694        2.39992 48.85886

#### Cleaning and Wrangling
After the data is read, the variable are filtered as per our requirements

Additionally, the quality variable is converted to a factor type, as it is a discrete variable.

In [59]:
#Cleaning the data, removing irrelevant or unnecessary variables to ensure that the data is in a consistent format.

#Variables filtered out: X (unique identifier), lng (The longitude of the listing), lat (The latitude of the listing).

#Variables to be utilized:
new_paris_data <- paris_data |>
  select(realSum,                     
         room_type, 
         room_shared,
         room_private,
         person_capacity,
         host_is_superhost,
         multi,biz,cleanliness_rating,
         guest_satisfaction_overall,
         bedrooms,
         dist,
         metro_dist,
         attr_index,
         attr_index_norm,
         rest_index,
         rest_index_norm)

# Displaying the cleaned data
new_paris_data 

#<<do we need to convert any variables into a factor type?>>
#<<it might be easier to visualize the data if we also filtered out the non-numeric data like room_type, superhost status, and those two boolean columns.>>
#<<We could compare realSum with other numeric variables?>>

     realSum  room_type       room_shared room_private person_capacity
1    536.3967 Entire home/apt False       False        5
2    290.1016 Private room    False       True         2
3    445.7545 Entire home/apt False       False        4
⋮    ⋮        ⋮               ⋮           ⋮            ⋮
3556 223.9258 Entire home/apt False       False        2
3557 200.8575 Entire home/apt False       False        2
3558 301.2862 Entire home/apt False       False        2
     host_is_superhost multi biz cleanliness_rating guest_satisfaction_overall
1    False             0     1    9                  89
2    True              0     0   10                  97
3    False             0     1   10                 100
⋮    ⋮                 ⋮     ⋮   ⋮                  ⋮
3556 False             1     0    9                 89
3557 True              0     0    9                 93
3558 False             0     0   10                 92
     bedrooms dist      metro_dist attr_index attr_index_norm rest_index
1    1        1.3512012 0.2123455  390.7768   19.00155        1030.739
2    1        0.6998212 0.1937103  518.4783   25.21104        1218.659
3    1        0.9689817 0.2943429  432.6899   21.03958        1069.895
⋮    ⋮        ⋮         ⋮          ⋮          ⋮               ⋮
3556 1        4.205205  0.2530289  172.6589    8.395552       406.5859
3557 1        2.891214  0.2406744  235.1679   11.435057       602.4517
3558 1        3.469749  0.5085167  200.6376    9.756019       478.9904
     rest_index_norm
1    47.55037
2    56.21958
3    49.35674
⋮    ⋮
3556 18.75676
3557 27.79250
3558 22.09694

#### Splitting
Splitting the data involves some form of randomness, thus a seed is set for consistency.

The data is split with `SPLIT_PROPORTION` and strata `realSum`.

In [57]:
# 3557 total examples
# Decide to split dataset into 75% training and 25% testing

# set seed for consistency
set.seed(8888)

# splitting data set into training and testing subsets
SPLIT_PROPORTION = 0.75
paris_split <- initial_split(new_paris_data, prop = 0.75, strata = realSum) 

paris_train <- training(paris_split)
paris_test <- testing(paris_split)

#Table and Counts
# count the number of observations in each subset
paste("Number of observations in training data subset: ", pull(count(paris_train)))
paste("Number of observations in testing data subset: ", pull(count(paris_test)))

#<<any other way to split it? 1:3 -> no. of training & testing subest isn't precise>>

[1] "Number of observations in training data subset:  2667"

[1] "Number of observations in testing data subset:  891"

In [58]:
#Table and Counts
#Cleanliness_rating
paris_proportions1 <- paris_train |> #use TRAINING data
group_by(cleanliness_rating) |>
summarize(n = n())  #used to count the number of observations in a given group
paris_proportions1

#guest_satisfaction_overall
paris_proportions2 <- paris_train |>
group_by(guest_satisfaction_overall) |>
summarize(n = n())
paris_proportions2

#dist
paris_proportions3 <- paris_train |>
group_by(dist) |>
summarize(n = n()) 
paris_proportions3

#metro_dist
paris_proportions4 <- paris_train |>
group_by(metro_dist) |>
summarize(n = n()) 
paris_proportions4

#room_type
paris_proportions5 <- paris_train |>
group_by(room_type) |>
summarize(n = n()) 
paris_proportions5

#host_is_superhost
paris_proportions6 <- paris_train |>
group_by(host_is_superhost) |>
summarize(n = n()) 
paris_proportions6

  cleanliness_rating n
1 2                  3
2 4                  7
3 5                  2
⋮ ⋮                  ⋮
6  8                  272
7  9                  947
8 10                 1334

   guest_satisfaction_overall n
1  20                         4
2  40                         5
3  50                         4
⋮  ⋮                          ⋮
40  98                        138
41  99                         70
42 100                        584

     dist      n
1    0.1395432 1
2    0.1470952 1
3    0.1714837 1
⋮    ⋮         ⋮
2665 7.620912  1
2666 7.680000  1
2667 7.703733  1

     metro_dist  n
1    0.003220008 1
2    0.003935058 1
3    0.006388847 1
⋮    ⋮           ⋮
2665 0.9102045   1
2666 0.9689053   1
2667 1.0458365   1

  room_type       n
1 Entire home/apt 2065
2 Private room     568
3 Shared room       34

  host_is_superhost n
1 False             2290
2 True               377

In [61]:
#Mean 
mean1 <- paris_train |> #use TRAINING data 
    select(cleanliness_rating:metro_dist)|> 
    map_df(max, na.rm = TRUE)
mean1

  cleanliness_rating guest_satisfaction_overall dist     metro_dist
1 10                 100                        7.703733 1.045836

#### References:
1. https://www.kaggle.com/datasets/thedevastator/airbnb-prices-in-european-cities?select=paris_weekends.csv 
2. https://www.sciencedirect.com/science/article/pii/S0261517718300785
3. https://www.sciencedirect.com/science/article/pii/S1877916621000424